.App {
  text-align: center;
}
#nextbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer:hover {
  background-color: #d4d7dd !important;
}
.nav-tabs .nav-link.active,
.nav-tabs.show > .nav-link {
  background-color: rgb(111, 196, 0);
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.bi-facebook:hover {
  font-size: 60px;
}
.bi-instagram:hover {
  font-size: 60px;
}
.myname {
  color: rgb(17, 24, 20);
  text-shadow: 0px 1px 0px rgb(5, 7, 8), 0px 2px 8px rgb(75, 233, 13),
    0px 2px 8px rgb(75, 233, 13), 0px 3px 8px rgb(26, 224, 8),
    0px 4px 8px rgb(7, 235, 45), 0px 5px 8px rgb(68, 72, 75),
    0px 6px 8px rgb(97, 103, 105);
}
.bi-whatsapp:hover {
  font-size: 60px;
}

#home p {
  display: flex;
  justify-content: center;

  font-weight: 800;
  font-size: 60px;
  text-shadow: 0px 1px 0px rgb(5, 7, 8), 0px 2px 0px rgb(149, 250, 109),
    0px 3px 0px rgb(135, 238, 125), 0px 4px 0px rgb(95, 97, 99),
    0px 5px 0px rgb(68, 72, 75), 0px 6px 0px rgb(97, 103, 105);

  opacity: 0;
  animation: text 4s ease-in-out;
}
#home p:nth-child(1) {
  animation-delay: 0s;
}
#home p:nth-child(2) {
  animation-delay: 4s;
}
#home p:nth-child(3) {
  animation-delay: 8s;
}
@keyframes text {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  #home p {
    font-size: 40px;
  }
}

.nav-tabs .nav-link:hover {
  background-color: rgb(172, 253, 65);
  color: black;
  font-size: 25px;
  font-weight: 600;
}
body,
html {
  margin: 0% !important;
  max-width: '100%';
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
h2 {
  border: none;
  font-size: 40px;
  font-weight: 800;
}
h5 {
  font-weight: 600;
}
h2:hover {
  border-bottom: 2px groove rgb(13, 240, 51) !important ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
